<% include partials/header.ejs %>

<div class="container">
    <h1> Login To your Student Account</h1>

<form action="/signin" method="POST">

<div class="form-group">
    <label for="username">Username</label>
    <input type="text" name="username" id="username" class="form-control" required>
</div>
<div class="form-group">
    <label for="password">Password</label>
    <input type="password" name="password" id="password" class="form-control" required>
</div>

<div>
        <button class="btn-success pull-left btn-lg">Submit</button>
</div>
</form>
<h4><button class="btn-primary btn-lg pull-right" onclick="window.location.href='/signup'">Signup</button></h3>
</div>





<% include partials/footer.ejs %>